// Bijuterii
.bijuteriiMain {
    height: auto;
    margin-top: 10rem;
}

.glider-contain {
    width: 85% !important;
    position: relative;
    top: -10rem;
}

.glider-next4 {
    right: -50px;
    top: 50%;
}

.glider-prev4 {
    left: -50px;
    top: 50%;
}

.bijuteriiIcon-wrapper {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    background: linear-gradient(-60deg, #F98FD9, #F5B0FF, #F28686);
    border-radius: 0% 52% 50% 0% / 10% 49% 48% 10%;
    border-style: solid;
    border-color: $color-primary-light-2;
    border-top-width: 1rem;
    border-bottom-width: 1rem;
    border-left-width: 0;
    margin-bottom: 10rem;
    margin-left: 0;
}

.bijuteriiImg-main {
    width: 20rem;
    height: 21rem;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 6rem;
    top: 3rem;
}


/* Heading Product Bijuterii */
section .productHeading-bijuterii {
    width: 50rem;
    margin: 0;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 12rem;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
        content: '';
        width: 10rem;
        height: .8rem;
        background-color: $color-primary-light;
        position: absolute;
        bottom: -24rem;
        top: 70%;
        left: 50%;
        transform: translate(-50%, 30px);
        border-radius: 2rem;
    }
}

/* Product Wrapper */
.productCarousel_bijuterii {
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    /* asta le face sa mearga bine in slider |grid si grid-template-columns| */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.productWrap-bijuterii {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
}

.productBijuterii-container {
    position: relative;
    top: -12rem;
    width: 50rem;
    height: 50rem;
    padding: 2.5rem 6rem;
    z-index: 1;
    display: block;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.triangleSvg-bijuterii {
    width: 50rem;
    height: 33rem;
}

.bijuterii-img {
    width: 21rem;
    height: 22rem;
    position: relative;
    top: 9rem;
}

.productDetails-bijuterii {
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -24rem;
    margin-top: -1rem;
}

.productBijuterii-name {
    color: $color-grey-light-1;
    font-size: 2.1rem;
}

.productBijuterii-description {
    color: $color-grey-light-1;
    font-size: $default-font-size;
    position: relative;
    top: 1.5rem;
}

.productBijuterii-price {
    color: $color-grey-light;
    font-size: 2.1rem;
    position: relative;
    top: 2rem;
}

.productBijuterii-btn {
    text-decoration: none;
    font-size: 2.1rem;
    color: $color-grey-light-1;
    background: radial-gradient($color-primary-light-3, $color-primary-light-4);
    border-radius: 3rem;
    padding: .6rem 1.6rem;
    position: absolute;
    top: 60rem;
    left: 30%;
    transition: .6s;

    &:hover {
        text-decoration: none;
        color: $color-grey-light-1;
        background: radial-gradient($color-primary-light-3, $color-primary-light-4);
        transform: translateY(-.8rem);
        box-shadow: 0 .3rem 1.2rem rgba($color-black, .4);
        transition: .3s ease-out;
    }
}
