.section-students {
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top: -20vh;
}

.section-features {
    background-color: $color-white;
    padding: 10rem 0;
    margin-top: -5vh;
}

.section-video {
    position: relative;
    padding: 15rem 0;
}

.section-students {
    padding: 15rem 0;
    background-color: $color-grey-light-1;
}
